@import url('https://fonts.googleapis.com/css2?family=Castoro+Titling&family=Montserrat:ital,wght@0,400;1,300&family=Roboto:ital,wght@1,300&display=swap');
*{
    font-family: 'Castoro Titling', cursive;
    font-family: 'Montserrat', sans-serif;
    font-family: 'Roboto', sans-serif;
    margin-bottom: 10px
}

/*cuerpo de la pagina*/

body{
    margin: 0;
    background-color:#FEF2F4 ;
}

/*tamaño de las imagenes*/

img{
    max-width: 100%;
}

/*tamaño de las imagenes*/

@media screen and (min-width: 768px) {
    .boton-menu {
        display: none;
    }
}
.menu-principal__item{
    padding: 1em;
}

.menu-principal{
    list-style: none;
    margin-top: 0;
    margin-bottom: 0;
    padding-left: 0;
    
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #FCC8D1 ;
    
}


@media screen and (min-width: 768px) {
    .menu-principal {
        flex-direction: row;
    }
}
.menu-principal__item{
    padding: 1em;
}


.menu-principal__link{
    color: black;
    text-transform: uppercase;
    text-decoration: none;
}

/*imagenes de la grilla pricipal*/

.imagenes{
    width: 250px;
    height: 250px;
    margin: 30px 20px;
    
}

.imagenes-texto{
    text-align: center;
    }

.boton-comprar{
    display: block;
    margin: 10px auto;
    border: none;
    background: #FCC8D1;
    color: #fff;
    padding: 5px 15px;
    border-radius: 5px;
    cursor: pointer;
}

.imagen-mercaderia:hover{
    max-width: 350px;
    padding: 10px;
    margin: auto;
    border: 1px solid #fff;
    border-radius: 10px;
    padding: 20px;
    transition: .3s;
    
}

/* Seccion Carrito de compras */
.carrito{

    border: 1px solid #fff;
    width: 15%;
    margin-top: 30px;
    border-radius: 10px;
    overflow: hidden;
    margin-bottom: auto;
    top: 0;
    transition: .3s;


}

.contenedores{
    display: grid;
    grid-template-areas:
    "uno dos tres"
    "cuatro cinco seis"
}



/* Media Query mobile first */

@media screen and (max-width: 768px) {
    .contenedores{
    display: flex;
    flex-direction: column;
    align-items: center;
    }
}


/* Bucles*/
@for $i from 1 through 6{
    .imagen-mercaderia{
        &:nth-child(#{$i}){
            grid-area: uno;
        }
    }
}